<mat-chip-list class="mat-chip-list-stacked" aria-label="Chips">
    <table class="mat-chip-table">
        <tr>
            <mat-chip *ngFor="let chip of chips" 
                [removable]=true
                [disabled]="chip.connected==false" >
                <td>
                     <mat-form-field >
                        <mat-label>Location</mat-label>
                        <input matInput placeholder="{{chip.mac}}" [(ngModel)]="chip.name">
                     </mat-form-field>
                <td>
                   <mat-icon matChipRemove (click)="update(chip)" matSuffix>save</mat-icon>
                </td>
                <td><mat-slide-toggle 
                    [disabled]="chip.connected==false"
                    [checked]="chip.switchStatus ==='ON'" (change)="onChange($event,chip)"></mat-slide-toggle>    </td>
                <td>
                    <div style="position:relative;top:15px;left:45px">
                        <mat-label>{{chip.power}}%</mat-label>
                    </div>
                    <mat-slider
                        (change)="onSliderChange($event,chip)"
                        [disabled]="chip.connected==false || chip.switchStatus ==='OFF'"
                        [max]="100"
                        [min]="10"
                        [step]="10"
                        [(ngModel)]="chip.power">
                    </mat-slider>
                    <div style="position:relative;top:-15px;left:20x">
                        <mat-label>Temperature: {{chip.sensorData}}&#8451;</mat-label>
                    </div>
                </td>
                <td>
                    <mat-icon matChipRemove (click)="delete(chip)">delete</mat-icon>
                </td>
            </mat-chip>
        </tr>
    </table>
  </mat-chip-list>

