<mat-chip-list class="mat-chip-list-stacked" aria-label="Chips">
    <table>
        <tr class="mat-chip-table">
            <mat-chip *ngFor="let chip of chips" (click)="onSelect(chip)" [class.selected]="chip === selectedChip" >
                <td>{{chip.name}}</td>
                <td><mat-slide-toggle [checked]="chip.switchStatus ==='ON'" (change)="onChange($event,chip)"></mat-slide-toggle>    </td>
                <td>
                    <mat-slider
                        (change)="onSliderChange($event,chip)"
                        [disabled]="selectedChip.switchStatus ==='OFF'"
                        [max]="100"
                        [min]="0"
                        [step]="10"
                        [(ngModel)]="chip.power">
                    </mat-slider>
                </td>
                <td>{{chip.sensorData}}</td>
                <td>
                    <button mat-mini-fab color="accent" aria-label="Delete" (click)="delete(chip)">
                        <mat-icon>delete</mat-icon>
                    </button> 
                </td>
            </mat-chip>
        </tr>
    </table>
  </mat-chip-list>


<div *ngIf="selectedChip.mac!=''" >
    <div>MAC: {{selectedChip.mac}}</div>
    <div>Name:<input [(ngModel)]="selectedChip.name"  /></div>
    <div>Power:{{selectedChip.power}}</div>
    <div>Active: {{selectedChip.lastActiveAt}}s ago</div>
    <button mat-mini-fab color="accent" aria-label="Save" (click)="update()">
        <mat-icon>save</mat-icon>
    </button> 
</div>
